h2 {
  color: #FFFFFF;
  background-color: #000000
}

h1 {
  color: red;
  background-color: green
}

h3 {
  color: orange;
  background-color: blue
}

h4 {
  color: yellow;
  background-color: purple
}

#backblack {
  color: #FFFFFF;
  background-color: #000000
}

.turngray {
  color: #808080
}

a:link {
 color: #FF0000
}

a:hover {
 color: yellow
}

a:visited {
 color: #00FF00
}
