#wrapper {
  margin: 1em auto;
  width: 960px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 5px solid black;
  background-color: white;
}

html {
  background-color: gray;
}

nav {
  grid-column: span 4;
  font-family: Verdana;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,217,0,1) 100%);
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline-block;
  background-color: black;
  padding: 0px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-family: timonium;
  font-weight: normal;
  font-size: 20px;
}

nav li a:hover {
  color: gray
}

@font-face {
  font-family: timonium, sans-serif;
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: rocky, serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  grid-column: span 4;
  margin: 0px;
  padding: 30px 30px 10px 30px;
  background: rgb(255,217,0);
  background: linear-gradient(0deg, rgba(255,217,0,1) 0%, rgba(255,153,0,1) 100%);
  text-align: center;
}

h1 a {
  font-family: timonium;
  font-style: italic;
  text-decoration: none;
  color: black;
  font-size: 60px;
}

h1 a:hover {
  text-decoration: underline;
}

main {
  grid-column: span 4;
  padding: 0px 25px 0px 25px;
}

h2 {
  font-family: timonium;
  font-weight: bold;
  color: black;
  border-bottom: solid 3px black;
  padding-bottom: 1px
}

p {
  font-family: rocky;
  font-size: 18px;
  font-weight: lighter;
  grid-column: span 4;
}

main li {
  display: inline-block;
  background-color: black;
  padding: 0px;
  width: 125px;
  text-align: center;
  border-radius: 10px;
}

main li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 7px;
  font-family: timonium;
  font-weight: normal;
  font-size: 15px;
}

main li a:hover {
  color: gray
}

footer {
  grid-column: span 4;
  font-family: Verdana;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,217,0,1) 100%);
  margin: 0px;
  padding: 0px;
}

footer li {
  display: inline-block;
  background-color: black;
  padding: 0px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

footer li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-family: timonium;
  font-weight: normal;
  font-size: 20px;
}

footer li a:hover {
  color: gray
}

.overview {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  border: solid 3px black;
  max-width: 220px
}
